[Unit]
Description=Hydroxide, a bridge for ProtonMail
Documentation=https://github.com/emersion/hydroxide
Wants=network-online.target
After=network-online.target

[Service]
ExecStart="%h/.local/bin/hydroxide" -carddav-port "9684" serve
Restart=always
RestartSec=12

[Install]
WantedBy=default.target
