* {
  font-size: 9pt;
  font-family: "SF Mono Nerd Font";
  color: #ebdbb2;
  border: none;
}

window#waybar box {
    background: #000000;
}

#custom-media {
    padding: 0 8px;
    background: #3c3836;
    /* background: rgba(255,255,255,0.2); */
}

#custom-vpn {
    padding: 0 8px;
    background: #98971a;
    margin-left: 8px;
}

#clock, #workspaces {
  padding: 0 4px;
}

#mode {
    background: #d79921;
    color: black;
    padding: 0 8px;
}

#workspaces button {
    border-radius: 0;
    padding: 0px 2px;
    margin-right: 4px;
    transition: all 0.1s ease-in-out;
}


#workspaces button.focused {
    background: #3c3836;
    /* background: rgba(255,255,255,0.2); */
}


/* set $base00 #1d2021
set $base01 #3c3836
set $base02 #504945
set $base03 #665c54
set $base04 #bdae93
set $base05 #d5c4a1
set $base06 #ebdbb2
set $base07 #fbf1c7
set $base08 #fb4934
set $base09 #fe8019
set $base0A #fabd2f
set $base0B #b8bb26
set $base0C #8ec07c
set $base0D #83a598
set $base0E #d3869b
set $base0F #d65d0e */
